.main_form {
    position: relative;
    z-index: 2;
    background: #fff;
    padding-top: vw(64);
    padding-bottom: vw(40);
    @media all and (max-width: 1023px) {
        padding-top: 28px;
        padding-bottom: 28px;
    }
    &__in {
        display: flex;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__infos {
        flex: 0 0 vw(285);
        margin-right: vw(16);
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05);
        padding: vw(30) vw(27);
        border: 1px solid var(--light-gray-2);
        border-radius: 16px;
        background: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex: unset;
            width: 100%;
            margin-bottom: 16px;
            padding: 24px 16px;
            border-radius: 16px;
        }
        &--title {
            margin-bottom: vw(32);
            font-weight: 500;
            font-size: vw(24);
            line-height: 120%;
            color: var(--black);
            @media all and (max-width: 1023px) {
                font-size: 24px;
                margin-bottom: 32px;
            }
        }
        &--list {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                font-weight: 400;
                font-size: vw(16);
                line-height: 140%;
                color: var(--black);
                padding-left: vw(24);
                margin-bottom: vw(24);
                @media all and (max-width: 1023px) {
                    margin-bottom: 16px;
                    padding-left: 24px;
                    font-size: 16px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: vw(7);
                    left: 0;
                    width: vw(8);
                    height: vw(8);
                    border-radius: 50%;
                    background: var(--blue);
                    @media all and (max-width: 1023px) {
                        width: 8px;
                        height: 8px;
                        top: 7px;
                    }
                }
            }
        }
        &--txt {
            font-weight: 400;
            font-size: vw(12);
            line-height: 140%;
            color: var(--gray);
            margin-top: auto;
            @media all and (max-width: 1023px) {
                font-size: 12px;
                margin-top: 8px;
            }
        }
    }
    &__calc {
        width: 100%;
        border-radius: vw(16);
        display: flex;
        overflow: hidden;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            border-radius: 16px;
        }
        &--l-side {
            width: 100%;
            padding: vw(32);
            background: var(--light-gray);
            @media all and (max-width: 1023px) {
                padding: 24px 16px;
            }
        }
        &--r-side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 0 0 vw(315);
            border-left: 1px solid var(--light-gray-2);
            background: var(--violet);
            padding: vw(32) vw(16);
            @media all and (max-width: 1023px) {
                flex: none;
                padding: 16px;
            }
        }
    }
    &__tit {
        font-weight: 500;
        font-size: vw(40);
        line-height: 140%;
        color: var(--black);
        padding-bottom: vw(8);
        border-bottom: 1px solid var(--light-gray-2);
        margin-bottom: vw(24);
        @media all and (max-width: 1023px) {
            font-size: 24px;
            padding-bottom: 8px;
            margin-bottom: 32px;
        }
    }
    &__lists {
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            justify-content: space-between;
            width: 100%;
        }
    }
    &__list {
        text-align: left;
        padding-bottom: vw(8);
        width: 100%;
        border-bottom: 0.60px solid rgba(102, 102, 102, 0.4);
        @media all and (max-width: 1023px) {
            padding-bottom: 8px;
        }
        span {
            font-weight: 500;
            font-size: vw(16);
            line-height: 140%;
            color: var(--blue);
            display: block;
            margin-bottom: vw(8);
            @media all and (max-width: 1023px) {
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
        &--text {
            font-weight: 500;
            font-size: 40px;
            line-height: 140%;
            color: var(--black);
            @media all and (max-width: 1023px) {
                font-size: 32px;
            }
        }
    }
    &__slides {
        display: flex;
        flex-direction: column;
        gap: vw(24);
        @media all and (max-width: 1023px) {
            flex-direction: column;
            gap: unset;
        }
    }
    &__info {
        & > span {
            color: var(--Darck-grey, #666);
            font-family: 'Gilroy', sans-serif, cursive;
            font-size: vw(16);
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            display: inline-block;
            margin-bottom: vw(16);
            @media all and (max-width: 1023px) {
                font-size: 16px;
                margin-bottom: 16px;
            }
        }
    }
    &__slide {
        @media all and (max-width: 1023px) {
            margin-bottom: 24px;
            width: 100%;
        }
    }
    &__number {
        color: var(--Black, #313132);
        font-size: vw(32);
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: vw(14);
        @media all and (max-width: 1023px) {
            margin-bottom: 16px;
            font-size: 24px;
        }
    }
    .noUi-target {
        box-shadow: none;
        border: 0;
        height: vw(33);
        overflow: hidden;
        background: none;
        border-radius: 0px;
        padding-top: vw(12);
        position: relative;
        bottom: -8px;
        z-index: 3;
        * {
            transition: unset;
        }
        @media all and (max-width: 1023px) {
            padding-top: 12px;
            height: 33px;
        }
        .noUi-base {
            .noUi-connects {
                height: 6px;
                border-radius: 20px;
                background: var(--light-grey-line, #E1E1E1);
            }
        }
        .noUi-origin {
            height: 6px;
            border-radius: 20px;
            background: linear-gradient(90deg, var(--blue) 0%, var(--blue) 100%);
            .noUi-handle {
                width: vw(24);
                height: vw(24);
                border-radius: 50%;
                border: 4px solid var(--blue);
                box-shadow: none;
                top: vw(-9);
                right: vw(-11);
                cursor: pointer;
                @media all and (max-width: 1023px) {
                    width: 24px;
                    height: 24px;
                    top: -9px;
                    right: -11px;
                }
                &:before, &:after {
                    display: none;
                }
            }
        }
    }
    &__values {
        display: flex;
        justify-content: space-between;
        padding-top: vw(10);
        @media all and (max-width: 1023px) {
            padding-top: 20px;
        }
    }
    &__value {
        color: #666;
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @media all and (max-width: 1023px) {
            font-size: 16px;
        }
    }
    &__btn {
        border: 0;
        position: relative;
        font-weight: 600;
        font-size: vw(16);
        color: var(--white);
        border-radius: 100px;
        padding: vw(21) vw(20);
        cursor: pointer;
        border: 1px solid var(--blue);
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05);
        background: var(--blue);
        width: 75%;
        @media all and (max-width: 1023px) {
            font-size: 14px;
            padding: 21px 46px;
            margin-top: 24px;
            width: calc(100% - 70px);
        }
        &:before {
            content: '';
            position: absolute;
            width: vw(59);
            height: vw(59);
            border: 1px solid var(--blue);
            border-radius: 50%;
            top: 50%;
            right: vw(-70);
            margin-top: vw(-29);
            background: var(--blue) url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33203 22.6667L22.6654 9.33337M22.6654 9.33337H9.33203M22.6654 9.33337V22.6667' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% no-repeat;
            background-size: vw(32);
            @media all and (max-width: 1023px) {
                width: 59px;
                height: 59px;
                margin-top: -29px;
                right: -70px;
                background-size: 32px;
            }
        }
        &:hover {
            background: var(--white);
            color: var(--blue);
            &:before {
                background: var(--white) url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33203 22.6667L22.6654 9.33337M22.6654 9.33337H9.33203M22.6654 9.33337V22.6667' stroke='%231229fe' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% no-repeat;
                background-size: vw(32);
                @media all and (max-width: 1023px) {
                    background-size: 32px;
                }
            }
        }
        &:active {
            background: #0000c2;
            color: var(--white);
            &:before {
                background: #0000c2 url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33203 22.6667L22.6654 9.33337M22.6654 9.33337H9.33203M22.6654 9.33337V22.6667' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% no-repeat;
                background-size: vw(32);
                @media all and (max-width: 1023px) {
                    background-size: 32px;
                }
            }
        }
    }
}