<section id="main_reviews" class="main_reviews center_block">
    <div class="main_reviews__in">
        <div class="main_reviews__title">Отзывы наших клиентов</div>
        <div class="main_reviews__blocks" v-if="sizes.window >= 1023">
            <div class="main_reviews__l-side">
                <div class="main_reviews__item isActive">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
                <div class="main_reviews__item">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
                <div class="main_reviews__item">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
                <div class="main_reviews__item">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
            </div>
            <div class="main_reviews__r-side">
                <div class="main_reviews__content">
                    1<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
                <div class="main_reviews__content">
                    2<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
                <div class="main_reviews__content">
                    3<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
                <div class="main_reviews__content">
                    4<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
            </div>
        </div>
        <div class="main_reviews__slider js_rev_slider" v-if="sizes.window <= 1023">
            <div class="main_reviews__slide">
                <div class="main_reviews__item">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
                <div class="main_reviews__content">
                    4<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
            </div>
            <div class="main_reviews__slide">
                <div class="main_reviews__item">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
                <div class="main_reviews__content">
                    4<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
            </div>
            <div class="main_reviews__slide">
                <div class="main_reviews__item">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
                <div class="main_reviews__content">
                    4<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
            </div>
            <div class="main_reviews__slide">
                <div class="main_reviews__item">
                    <div class="main_reviews__item--img">
                        <img src="./img/rev_avatar.png" alt="">
                    </div>
                    <div class="main_reviews__item--info">
                        <div class="main_reviews__item--name">Вадим Сергеевич</div>
                        <div class="main_reviews__item--city">Москва</div>
                    </div>
                </div>
                <div class="main_reviews__content">
                    4<p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                    <p>Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо что вы есть!!! Очень хорошая компания. Выручает всегда. Пользуюсь больше года. Никогда не подводили. Главное во время все выплачивать. Спасибо
                        что вы есть!!!</p>
                </div>
            </div>
        </div>
    </div>
</section>
