<section class="main_info">
    <div class="main_info__in center_block">
        <div class="main_info__item">
            <div class="main_info__l-side">
                <div class="main_info__flag">0% в день</div>
                <div class="main_info__title">Первый <br>заем-бесплатно</div>
                <button class="main_info__btn" data-modal-id="3">Получить деньги</button>
            </div>
            <div class="main_info__r-side">
                <img v-if="sizes.window >= 1023" src="./img/card_info.png" alt="">
                <img v-if="sizes.window <= 1023" src="./img/card_info_mob.png" alt="">
            </div>
        </div>
    </div>
</section>