<section id="main_first" class="main_first">
    <div class="main_first__in center_block">
        <div class="main_first__l-side">
            <div class="main_first__subtitle">Ставка 0% до 15 дней</div>
            <div class="main_first__title">Получи первый онлайн заем</div>
            <div class="main_first__cost">Меняем представление о займах. <br>BUDGETT - это понятные и удобные онлайн-займы нового поколения. Получать легко, гасить - комфортно</div>
            <button class="main_first__btn" v-if="sizes.window >= 1023" data-modal-id="3">Получить деньги</button>
        </div>
        <div class="main_first__img">
            <img src="./img/bg_first.png" alt="">
        </div>
        <button class="main_first__btn" v-if="sizes.window <= 1023" data-modal-id="3">Получить деньги</button>
    </div>
</section>