<section id="main_first" class="main_first">
    <div class="main_first__in center_block">
        <div class="main_first__l-side">
            <div class="main_first__title">Выдача срочных займов под 0%</div>
            <div class="main_first__cost">Для всех новых клиентов!</div>
            <button class="main_first__btn" v-if="sizes.window >= 1023" data-modal-id="3">Получить деньги</button>
        </div>
        <div class="main_first__img">
            <img src="./img/bg_first.png" alt="">
        </div>
        <button class="main_first__btn" v-if="sizes.window <= 1023" data-modal-id="3">Получить деньги</button>
    </div>
</section>