.main_why {
    padding-top: vw(28);
    padding-bottom: vw(28);
    @media all and (max-width: 1023px) {
        padding-top: 28px;
        padding-bottom: 28px;
    }
    &__title {
        margin-bottom: vw(32);
        font-weight: 500;
        font-size: vw(40);
        line-height: 140%;
        color: var(--black);
        @media all and (max-width: 1023px) {
            font-size: 32px;
            margin-bottom: 26px;
        }
    }
    &__blocks {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px;
        @media all and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    &__tit {
        font-weight: 500;
        font-size: vw(24);
        line-height: 120%;
        color: var(--white);
        margin-bottom: vw(8);
        position: relative;
        z-index: 2;
        @media all and (max-width: 1023px) {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
    &__txt {
        font-weight: 400;
        font-size: vw(16);
        line-height: 140%;
        color: var(--white);
        position: relative;
        z-index: 2;
        @media all and (max-width: 1023px) {
            font-size: 14px;
        }
    }
    &__block {
        padding: vw(24) vw(16);
        border-radius: vw(12);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        @media all and (max-width: 1023px) {
            padding: 24px 16px;
            border-radius: 12px;
            min-height: 220px;
        }
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 3;
            width: vw(494);
            background: url('../img/bg_w1.png') 100% 0% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 100%;
                background-size: cover !important;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: vw(358);
                height: vw(204);
                background: url("data:image/svg+xml,%3Csvg width='360' height='204' viewBox='0 0 360 204' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.48'%3E%3Ccircle cx='184' cy='184' r='184' fill='url(%23paint0_linear_80_11972)' /%3E%3Ccircle cx='208' cy='208' r='184' fill='url(%23paint1_linear_80_11972)' /%3E%3Ccircle cx='232' cy='232' r='184' fill='url(%23paint2_linear_80_11972)' /%3E%3Ccircle cx='256' cy='256' r='184' fill='url(%23paint3_linear_80_11972)' /%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_80_11972' x1='0' y1='0' x2='368' y2='368' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' /%3E%3Cstop offset='0.572805' stop-color='%231229FE' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_80_11972' x1='24' y1='24' x2='392' y2='392' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' /%3E%3Cstop offset='0.572805' stop-color='%231229FE' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_80_11972' x1='48' y1='48' x2='416' y2='416' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' /%3E%3Cstop offset='0.572805' stop-color='%231229FE' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_80_11972' x1='72' y1='72' x2='440' y2='440' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' /%3E%3Cstop offset='0.572805' stop-color='%231229FE' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") 100% 100% / 100% no-repeat;;
                @media all and (max-width: 1023px) {
                    width: 283px;
                    height: 161px;
                }
            }
        }
        &:nth-child(2) {
            width: vw(494);
            grid-area: 2 / 1 / 3 / 3;
            background: linear-gradient(225deg, #d0ddff 0%, #eedaff 100%);
            &:before {
                position: absolute;
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='120' height='180' viewBox='0 0 120 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.7083 179.018C79.8973 179.018 80.0889 178.97 80.2617 178.87L94.6388 170.549C95.5 170.048 96.5422 168.939 96.6286 166.505L96.7109 133.459C96.7123 133.063 96.5017 132.697 96.1588 132.499C95.8159 132.299 95.3947 132.302 95.0518 132.499L88.5545 136.26L88.7854 137.409L88.3048 136.412C85.887 137.832 83.372 138.783 80.6843 139.311C80.1672 139.412 79.7933 139.864 79.792 140.392L79.6529 175.033C79.6529 175.325 79.6327 175.591 79.5881 175.834L80.4197 176.222L80.3211 176.28L79.5166 176.182C79.4086 176.326 79.4194 176.341 79.3897 176.519C79.2817 176.712 79.2034 176.83 79.1089 176.949L78.9266 177.131C78.5338 177.524 78.4933 178.146 78.8308 178.586C79.0468 178.867 79.3748 179.018 79.7083 179.018ZM94.4943 135.377L94.4174 166.464C94.3782 167.541 94.0637 168.325 93.5291 168.636L81.856 175.391C81.8614 175.279 81.8641 175.16 81.8641 175.037L82.0005 141.291C84.6032 140.689 87.0507 139.714 89.2848 138.389C89.2943 138.371 89.4401 138.313 89.5899 138.219L94.4943 135.377Z' fill='white' /%3E%3Cpath d='M78.062 179.589C78.7465 179.589 79.389 179.42 79.9506 179.079L79.9452 179.072C79.9857 179.049 80.0235 179.024 80.06 178.995C80.1801 178.926 80.3219 178.837 80.3799 178.778L80.712 178.473C81.0009 178.133 81.1723 177.873 81.3073 177.605C81.3748 177.536 81.4639 177.342 81.526 177.1C81.634 176.881 81.6759 176.675 81.7042 176.537C81.7326 176.463 81.7596 176.339 81.7731 176.206C81.8541 175.862 81.8932 175.47 81.8932 175.01L82.0039 140.4C82.0052 140.068 81.8581 139.753 81.6016 139.543C81.3451 139.331 81.0103 139.249 80.6836 139.311C72.5407 140.918 62.9682 138.723 53.0028 132.969C42.9713 127.188 33.2894 118.191 25.0007 106.95C24.7186 106.565 24.2232 106.408 23.7669 106.554C23.3146 106.702 23.0068 107.125 23.0055 107.602L22.8948 142.216C22.8638 146.148 25.6393 150.109 28.3419 151.667C29.6999 152.419 30.9567 152.64 32.088 152.327L49.7778 147.574C50.3137 147.435 51.0589 147.602 51.8486 148.049C52.7936 148.596 53.6846 149.446 54.4149 150.506L72.0291 175.672C73.0051 177.032 74.0972 178.068 75.2825 178.758C76.2288 179.31 77.1805 179.589 78.062 179.589ZM78.8653 177.154C78.8437 177.165 78.8234 177.175 78.8032 177.189C78.2416 177.526 77.3439 177.401 76.3962 176.847C75.4823 176.314 74.6196 175.488 73.834 174.392L56.2306 149.244C55.3207 147.923 54.1827 146.843 52.9475 146.129C51.6313 145.384 50.3367 145.144 49.2135 145.435L31.5089 150.193C30.95 150.345 30.2494 150.195 29.4313 149.742C27.3294 148.531 25.0804 145.217 25.106 142.229C25.106 142.227 25.106 142.225 25.106 142.224L25.2059 110.879C33.222 121.148 42.3989 129.41 51.8972 134.884C61.8059 140.605 71.4122 142.95 79.7886 141.709L79.682 175.006C79.682 175.396 79.6428 175.622 79.6091 175.743C79.5834 175.838 79.5713 175.935 79.5713 176.032C79.4619 176.175 79.4201 176.341 79.3904 176.519C79.2702 176.731 79.1892 176.853 79.0785 176.985L78.9584 177.09C78.9274 177.111 78.8963 177.131 78.8653 177.154Z' fill='white' /%3E%3Cpath d='M88.6491 138.599C88.8367 138.599 89.0284 138.552 89.2039 138.449L103.943 129.887C113.8 124.151 119.262 112.232 119.32 96.3227C119.412 63.7631 96.4235 23.9422 68.0771 7.55509C54.0214 -0.54058 40.7784 -1.80144 30.7766 4.00472L16.0715 12.5661C16.0702 12.5661 16.0688 12.5675 16.0675 12.5688C15.5396 12.8766 15.3587 13.5529 15.6665 14.0808C15.9716 14.6073 16.6493 14.7895 17.1771 14.4804L17.1812 14.479C26.4689 9.08864 38.9181 10.3508 52.2314 18.0321C79.9675 34.0493 102.459 73.009 102.37 104.88C102.342 119.955 97.2712 131.197 88.0916 136.538C87.5637 136.844 87.3842 137.522 87.692 138.05C87.8972 138.402 88.2684 138.599 88.6491 138.599ZM44.6838 2.62506C51.4875 2.62506 59.0756 4.92268 66.9715 9.47068C94.7063 25.5041 117.198 64.4624 117.109 96.3159C117.052 111.406 111.982 122.651 102.83 127.975L97.1983 131.247C101.992 124.795 104.561 115.771 104.581 104.885C104.673 72.3097 81.6847 32.4874 53.3383 16.1179C43.6686 10.5358 34.3782 8.20037 26.2596 9.19259L31.8876 5.91625C35.6769 3.71717 39.994 2.62506 44.6838 2.62506Z' fill='white' /%3E%3Cpath d='M75.29 142.025C77.2866 142.025 79.2278 141.842 81.1042 141.473C95.7553 138.591 104.537 124.913 104.593 104.884C104.687 72.3056 81.6955 32.4833 53.3451 16.1151C39.3637 8.04237 26.1598 6.76397 16.1579 12.5202C6.22093 18.2372 0.722565 30.1843 0.678017 46.1597C0.621323 65.8501 9.04639 89.0666 23.2155 108.262C31.6851 119.739 41.6059 128.948 51.9074 134.895C60.0719 139.609 68.0407 142.025 75.29 142.025ZM29.9882 11.1851C36.7879 11.1851 44.3639 13.4827 52.2382 18.0293C79.9784 34.0452 102.473 73.0049 102.382 104.879C102.328 123.771 94.2136 136.64 80.6776 139.302C72.5199 140.902 62.9554 138.719 53.0144 132.981C42.9734 127.184 33.2848 118.182 24.9947 106.949C11.0983 88.1217 2.83389 65.3992 2.88924 46.1651C2.93244 31.0132 8.03662 19.7451 17.2609 14.4371C21.0353 12.2637 25.3309 11.1851 29.9882 11.1851Z' fill='white' /%3E%3Cpath d='M70.2259 31.7975C70.508 31.7975 70.7902 31.6909 71.0062 31.4762C71.4382 31.047 71.4409 30.3477 71.0129 29.9144C68.6289 27.502 66.1693 25.2773 63.7016 23.3036C63.2237 22.9202 62.5312 22.9985 62.1491 23.4737C61.7671 23.9489 61.84 24.6428 62.3138 25.0262C64.7127 26.9728 67.1116 29.1422 69.4443 31.4735C69.6603 31.6895 69.9424 31.7975 70.2259 31.7975Z' fill='white' /%3E%3Cpath d='M80.8942 141.502C80.9644 141.502 81.0373 141.495 81.1089 141.481C84.0464 140.905 86.7976 139.864 89.2842 138.389C89.2936 138.371 89.4394 138.313 89.5893 138.218C90.1009 137.896 90.3115 137.187 89.9956 136.671C89.6757 136.156 89.0574 135.959 88.5404 136.268C88.5323 136.272 88.4148 136.345 88.4081 136.35C88.3541 136.37 88.2056 136.457 88.1556 136.485C85.8864 137.832 83.3714 138.783 80.6823 139.311C80.0829 139.428 79.6928 140.01 79.8102 140.609C79.9142 141.136 80.3758 141.502 80.8942 141.502Z' fill='white' /%3E%3Cpath d='M70.2259 31.7975C70.508 31.7975 70.7902 31.6909 71.0062 31.4762C71.4382 31.047 71.4409 30.3477 71.0129 29.9144C68.6289 27.502 66.1693 25.2773 63.7016 23.3036C63.2237 22.9202 62.5312 22.9985 62.1491 23.4737C61.7671 23.9489 61.84 24.6428 62.3138 25.0262C64.7127 26.9728 67.1116 29.1422 69.4443 31.4735C69.6603 31.6895 69.9424 31.7975 70.2259 31.7975Z' fill='white' /%3E%3Cpath d='M69.0425 123.985C70.5072 123.985 71.9314 123.85 73.3097 123.58C84.0743 121.462 90.5257 111.445 90.5662 96.783C90.635 73.0926 73.9172 44.1348 53.3007 32.2322C43.0762 26.3262 33.4051 25.4042 26.064 29.6282C18.7702 33.8252 14.7339 42.5715 14.7015 54.254C14.6596 68.5757 20.7844 85.4569 31.0832 99.41C37.2403 107.754 44.4572 114.453 51.9535 118.781C57.9135 122.222 63.7386 123.985 69.0425 123.985ZM36.2346 29.2313C41.1039 29.2313 46.5388 30.8823 52.1937 34.1465C72.2001 45.6967 88.4211 73.7919 88.355 96.7776C88.3172 110.303 82.534 119.511 72.8831 121.409C67.0473 122.559 60.1963 120.986 53.0604 116.866C45.8247 112.688 38.8414 106.198 32.8624 98.0979C22.8363 84.5119 16.8736 68.1248 16.9127 54.2594C16.9437 43.3991 20.5859 35.3331 27.1683 31.5451C29.8547 29.9994 32.9137 29.2313 36.2346 29.2313Z' fill='white' /%3E%3Cpath d='M71.9762 108.556C72.4136 108.556 72.8293 108.451 73.1992 108.237C74.0335 107.758 74.5127 106.804 74.5168 105.618L74.5937 78.4547C74.5991 76.4244 73.2208 74.0363 71.4564 73.0184L65.6516 69.6665C64.6122 69.0671 63.5376 69.001 62.7047 69.4816C61.8731 69.9608 61.3939 70.9166 61.3912 72.1032L61.3142 99.2656C61.3075 101.295 62.6858 103.684 64.4502 104.702L70.2563 108.054C70.8341 108.387 71.4227 108.556 71.9762 108.556ZM64.5447 71.5807L70.3495 74.9327C71.4362 75.5604 72.3852 77.2033 72.3825 78.4493L72.3056 105.612C72.3042 106.017 72.1962 106.264 72.0963 106.32C71.9978 106.376 71.721 106.346 71.3633 106.14L65.5571 102.788C64.4704 102.16 63.5214 100.517 63.5255 99.2724L63.6024 72.1086C63.6038 71.6401 63.7374 71.439 63.8089 71.3985C63.8818 71.3553 64.1316 71.3377 64.5447 71.5807Z' fill='white' /%3E%3Cpath d='M62.4191 100.639C62.6095 100.639 62.7998 100.59 62.9699 100.491C63.3114 100.296 63.5234 99.9325 63.5247 99.5383L63.5976 73.9459C63.599 73.7555 63.549 73.5679 63.4559 73.4018C60.0958 67.4202 58.2086 61.7976 57.5174 55.7066C57.215 53.0985 55.4642 50.323 53.3528 49.1027C51.4521 48.0024 50.1291 48.4749 49.5082 48.8543C48.4336 49.5144 47.868 50.8454 47.9584 52.5045C48.1096 55.3583 47.845 58.0272 47.5656 60.8513L47.3455 63.1773C47.4184 63.2839 47.3239 63.265 47.1808 63.18L35.4187 56.3897C34.2726 55.7282 33.0887 55.6324 32.1707 56.1278C31.3202 56.5868 30.8153 57.4683 30.7492 58.6117C30.6655 59.9536 31.1609 61.4655 32.0047 62.7142C31.1798 63.2461 30.7249 64.21 30.7208 65.4371C30.7168 66.7142 31.2055 68.1073 31.9912 69.2723C31.1744 69.7988 30.706 70.787 30.7019 72.0006C30.6992 73.2776 31.1852 74.6667 31.9669 75.8263C31.0907 76.3906 30.6236 77.476 30.6844 78.807C30.7897 80.9683 32.3111 83.4279 34.2226 84.5309L61.8656 100.49C62.0371 100.59 62.2288 100.639 62.4191 100.639ZM61.3851 74.2294L61.3189 97.6214L35.3296 82.6166C34.0768 81.893 32.9618 80.1017 32.8929 78.7031C32.8659 78.0983 33.0225 77.7757 33.1656 77.6852C33.3249 77.5867 33.6651 77.6461 34.0323 77.8378C34.5696 78.1199 35.2175 77.9255 35.5118 77.4071C35.8075 76.8874 35.636 76.2273 35.1257 75.9154C33.9229 75.1838 32.9105 73.3924 32.9132 72.006C32.9145 71.4808 33.0671 71.2041 33.1967 71.1272C33.3209 71.0489 33.6165 71.0516 34.0471 71.2824C34.5777 71.5632 35.231 71.3742 35.5267 70.8572C35.825 70.3388 35.6563 69.6773 35.1473 69.3641C33.9432 68.623 32.928 66.8276 32.9321 65.4425C32.9334 64.9201 33.0846 64.6447 33.2129 64.5677C33.3398 64.4921 33.634 64.4908 34.0701 64.7203C34.6047 64.9997 35.254 64.808 35.5483 64.2883C35.8439 63.7686 35.6725 63.1084 35.1622 62.7979C33.9 62.0312 32.87 60.1372 32.9577 58.744C32.9672 58.5766 33.0117 58.1878 33.221 58.0745C33.3857 57.9813 33.7704 57.9908 34.3117 58.3039L46.0739 65.0942C46.8717 65.5545 47.7181 65.618 48.3958 65.2643C49.0546 64.9214 49.4744 64.2302 49.5487 63.3676L49.7673 61.0686C50.0427 58.2864 50.3276 55.4096 50.1669 52.3871C50.1224 51.5731 50.31 50.9588 50.6664 50.7388C50.9985 50.535 51.5884 50.6389 52.2459 51.0169C53.774 51.9011 55.0956 54.0246 55.3197 55.9577C56.0352 62.2634 57.9643 68.0776 61.3851 74.2294Z' fill='white' /%3E%3Cpath d='M40.3888 68.3003C40.7668 68.3003 41.134 68.1073 41.3405 67.7603C41.6524 67.2352 41.4809 66.5562 40.9558 66.2443L35.1523 62.7925C34.6231 62.478 33.9468 62.6548 33.6363 63.1773C33.3245 63.7024 33.4959 64.3814 34.0211 64.6932L39.8245 68.1451C40.0027 68.2504 40.1971 68.3003 40.3888 68.3003Z' fill='white' /%3E%3Cpath d='M41.0487 74.8395C41.4455 74.8395 41.8289 74.6262 42.0274 74.2509C42.3136 73.7109 42.107 73.0414 41.567 72.7565L35.0846 69.329C34.5432 69.0401 33.875 69.2493 33.5902 69.7893C33.304 70.3293 33.5105 70.9989 34.0505 71.2837L40.533 74.7112C40.6977 74.799 40.8745 74.8395 41.0487 74.8395Z' fill='white' /%3E%3Cpath d='M40.3884 81.0007C40.7879 81.0007 41.174 80.7847 41.3711 80.4053C41.6533 79.8626 41.4413 79.1958 40.9 78.9136L35.0601 75.8789C34.5174 75.5954 33.8492 75.8074 33.5684 76.3501C33.2862 76.8928 33.4982 77.5596 34.0395 77.8418L39.8794 80.8765C40.0428 80.9615 40.2169 81.0007 40.3884 81.0007Z' fill='white' /%3E%3C/svg%3E") 50% / 100% no-repeat;
                width: vw(120);
                height: vw(180);
                right: vw(35);
                bottom: vw(20);
                @media all and (max-width: 1023px) {
                    width: 54px;
                    height: 82px;
                    top: 14px;
                    left: 32px;
                    right: unset;
                    bottom: unset;
                }
            }
            * {
                color: var(--black);
            }
            @media all and (max-width: 1023px) {
                width: 100%;
            }
        }
        &:nth-child(3) {
            grid-area: 1 / 3 / 3 / 4;
            height: vw(464);
            width: vw(284);
            background: linear-gradient(225deg, #d0ddff 0%, #eedaff 100%);
            @media all and (max-width: 1023px) {
                width: 100%;
                height: auto;
            }
            &:before {
                position: absolute;
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='184' height='324' viewBox='0 0 184 324' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='162' cy='162' r='49.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='65.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='81.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='97.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='113.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='129.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='145.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='161.5' stroke='white'/%3E%3Ccircle cx='162' cy='162' r='25' fill='white'/%3E%3Cpath d='M162.001 154V162L167.335 164.667M175.335 162C175.335 169.364 169.365 175.333 162.001 175.333C154.638 175.333 148.668 169.364 148.668 162C148.668 154.636 154.638 148.667 162.001 148.667C169.365 148.667 175.335 154.636 175.335 162Z' stroke='%23D0DCFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                width: vw(184);
                height: vw(324);
                top: vw(32);
                right: 0;
                @media all and (max-width: 1023px) {
                    width: 200px;
                    height: 258px;
                    top: 0;
                }
            }
            * {
                color: var(--black);
            }
        }
        &:nth-child(4) {
            grid-area: 1 / 4 / 3 / 6;
            height: vw(464);
            width: vw(494);
            background: url('../img/bg_w2.png') 0% 100% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 100%;
                height: auto;
                min-height: 357px;
            }
            &:before {
                content: '';
                position: absolute;
                background: url("data:image/svg+xml,%3Csvg width='494' height='447' viewBox='0 0 494 447' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-22.393 177.798C-22.393 177.798 89.9697 283.229 154.495 283.579C198.901 283.82 179.455 220.883 228.566 234.336C268.699 245.329 279.299 288.524 319.723 305.739C375.309 329.411 386.837 283.561 441.462 295.972C466.229 301.599 506.083 318.346 506.083 318.346' stroke='white' /%3E%3Cpath d='M-16.1898 168.678C-16.1898 168.678 96.1728 274.109 160.698 274.459C205.104 274.7 185.658 211.763 234.769 225.216C274.902 236.209 285.502 279.404 325.926 296.619C381.513 320.291 393.04 274.441 447.665 286.851C472.432 292.478 512.286 309.226 512.286 309.226' stroke='white' /%3E%3Cpath d='M-9.99061 159.558C-9.99061 159.558 102.372 264.988 166.897 265.339C211.304 265.58 191.857 202.643 240.968 216.095C281.101 227.089 291.701 270.283 332.125 287.498C387.712 311.171 399.239 265.321 453.864 277.731C478.631 283.358 518.485 300.106 518.485 300.106' stroke='white' /%3E%3Cpath d='M-3.78749 150.438C-3.78749 150.438 108.575 255.868 173.1 256.219C217.507 256.46 198.06 193.523 247.171 206.975C287.304 217.969 297.904 261.163 338.328 278.378C393.915 302.051 405.442 256.201 460.068 268.611C484.834 274.238 524.688 290.986 524.688 290.986' stroke='white' /%3E%3C/svg%3E") 50% / 100% no-repeat;
                bottom: 0;
                left: 0;
                width: 100%;
                height: vw(447);
                @media all and (max-width: 1023px) {
                    display: none;
                }
            }
        }
    }
}